
.education-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 4cqb; 
    padding-top: 100px;
    animation: fadeIn 1.5s forwards;
}

.education-title {
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    animation: bounceIn 1s ease-out;
}

.education-item {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 30px;
    animation: slideInUp 1s ease-out forwards;
}

.education-item:nth-child(2) { animation-delay: 0.3s; }
.education-item:nth-child(3) { animation-delay: 0.6s; }
.education-item:nth-child(4) { animation-delay: 0.9s; }

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 5px 15px rgb(242, 222, 222);
    transition: transform 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.circle:hover {
    transform: scale(1.1) rotate(360deg);
}

.school-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.text {
    width: 500px;
    padding: 15px 25px; 
    height: auto;
    border-radius: 30px;
    background-color: #fff;
    border: 3px solid;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #6C6C6C;
}

.text h3 {
    margin: 0 0 5px 0;
    color: #3e3e3e;
}

.text p {
    margin: 0;
    font-size: 0.9em;
}

.text:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

.purple-border .text { border-color: #C3B1E1; }
.pink-border .text { border-color: #FFB3C6; }
.gray-border .text { border-color: #BDBDBD; }

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideInUp {
    from { transform: translateY(50px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes bounceIn {
    0%, 20%, 40%, 60%, 80%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    20% {
        transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
        transform: scale3d(.9, .9, .9);
    }
    60% {
        opacity: 1;
        transform: scale3d(1.03, 1.03, 1.03);
    }
    80% {
        transform: scale3d(.97, .97, .97);
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1);
    }
}
